@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');


.btn-calculate{
    font-size: 36px;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    margin-top: 10px;
    font-weight: 600;
}

.text-area-transcript{
    text-align: start;
    width: 600px;
    height: 200px;
    display: block;
    font-size: 16px;
}

.text-output{
    font-family: 'Georgia';
    font-size: 24px;
}